/* index.css */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-polygon img {
  @apply h-auto w-full;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

* {
  box-sizing: border-box;
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 380px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
